<!DOCTYPE html>
<html>

{% include "home.html" %}

<body>
    <div class="container">

        <h3>My contacts</h1>
            <table id="allContacts" class="table form-tables-thead">
                <th>Name</th>
                <th>Email address</th>
                <th>Whatsapp</th>
                
                {% for user in users_list %}
                
                <tr>                    
                   <!--  <td>{{user.username}}</td>
                    <td>{{user.emailaddress}}</td>
                    <td>{{user.whatsapp}}</td> -->
                    <td>{{ user['username'] }}</td>
                    <td>{{ user['emailaddress'] }}</td>
                    <td>{{ user['whatsapp'] }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
</body>

</html>