h1 {
    border: 2px #eee solid;
    color: rebeccapurple;
    text-align: center;
    padding: 10px;
}

.container{
    margin: 2%;
}

.buttons{
    margin: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}